body {
    background-color: gray;
}

.user-inputs {
    padding: 1%;
}

#footer {
    border-top: 2px solid gray;
    position: fixed;
    bottom: 0.1%;
    width: 100%;
    text-align: center;
    background-color: #0d0d0d;
    color: white;
}

#footer a {
    text-decoration: underline;
    text-shadow: 1px 1px blue;
    color: #cecece;
}